.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  padding-top: 20px;
  overflow-x: hidden;
  width: 120px;
  height: 100vh;
  background-color: #231f20;
}

.sidebar img {
  height: 75px;
}
